<h1>jQuery Workshop</h1>
<h2>Instructions:</h2>

<p>
  Below you will find links to several challenges that will help you expand your basic knowledge of jQuery.
  There are often many ways to accomplish the same task, sometimes with slightly different results.
  If you finish a challenge quickly, try making the same thing happen with a different jQuery method!
</p>

<p>The <a href="https://api.jquery.com/category/attributes/">jQuery documentation</a>)
  will be your best resource for learning about different methods to accomplish the challenges.
  <br>
  <a href="http://www.w3schools.com/jquery/">W3 Schools</a> also has pretty good documentation of jQuery methods with easy-to-understand examples.</p>

<p>However, the documentation can be hard to understand for beginners,
  so if you get stuck, try typing your question into <a href="http://google.com">Google</a>.
  <br>
  For example, you could write "How do I change an element's color with jQuery?"
  <br>
  You may find a good response on a programming forum like <a href="http://stackoverflow.com/">Stack Overflow</a>,
  or a blog post that explains the topic you are trying to understand.
</p>

<h3>Good Luck!</h3>

<h2>List of jQuery Challenges:</h2>

<%= link_to "Name", name_path %>
<br>
<%= link_to "Colors", colors_path %>
<br>
<%= link_to "Visibility", visibility_path %>
<br>
<%= link_to "Headings", headings_path %>
<br>
<%= link_to "Delete All", delete_all_path %>
<br>
<%= link_to "Clicks", clicks_path %>
<br>
